@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  scroll-behavior: smooth;
}

html {
  @media screen and (max-width: 1080px) {
    font-size: "93.75%";
  }

  @media screen and (max-width: 720px) {
    font-size: 87.5%;
  }

  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #1c1b1f;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #1c1b1f;
  height: 100vh;
}

